@{
    ViewBag.Title = "Home Page";
}


<div class="splash">
        <div id="container">
        <video autoplay="true" id="videoElement"></video>
    </div>
    <button class="btn-lg btn btn-success scanbutton" onclick="scanForCode()">SCAN NOW</button>
</div>



<script>
    

    var canvas = document.createElement('canvas');
    var interval;
    var video = document.querySelector("#videoElement");
    var scaleFactor = .5;
    var startTime;
    

    $(document).ready(function () {
        scanForCode();
    })

    function scanForCode() {
        startTime = new Date().getTime();
        $(".scanbutton").hide();
        var interval = setInterval(function () {
            if (new Date().getTime() - startTime > 60000) {
                clearInterval(interval);
                $(".scanbutton").show();
                return;
            }
            readCam();
        }, 500);
            

        
    }

    function readCam() {
        //take image from camera pane, ajax to server, await success/fail
        canvas = capture(video, scaleFactor);

        dataURL = canvas.toDataURL('image/png');
        checkImage(dataURL);
    }

    function capture(video, scaleFactor) {
        if (scaleFactor == null) {
            scaleFactor = 1;
        }
        var w = video.videoWidth * scaleFactor;
        var h = video.videoHeight * scaleFactor;
        
        canvas.width = w;
        canvas.height = h;
        var ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, w, h);
        return canvas;
    }


    function checkImage(dataURL) {
        $.ajax({
            type: "POST",
            url: "CheckBarcode",
            data: {
                imgBase64: dataURL
            },
            dataType: 'json',
            traditional: true,
            success: function (response) {
                console.log(response.responseText);
            },
            error: function (xhr) {
                console.log('An error occured while processing your request.')
            },
        });
    }

    

    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

    if (navigator.getUserMedia) {
        navigator.getUserMedia({ video: true }, handleVideo, videoError);
    }

    function handleVideo(stream) {
        video.src = window.URL.createObjectURL(stream);
    }

    function videoError(e) {
        alert("A terrible thing happened.")
    }
</script>
