@{
    ViewBag.Title = "Welcome";
}

<div class="splash">

    <h1>Welcome Back!</h1>
    <span>The door will unlock momentarily.</span>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            window.location.href = "@Url.Action("Index", "Home")";
        }, 10000);
    });
</script>